<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libi.dao.NftTxRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libi.bean.NftTxRecord">
        <id column="id" property="id" />
        <result column="insert_time" property="insertTime" />
        <result column="update_time" property="updateTime" />
        <result column="remove_tag" property="removeTag" />
        <result column="tx_hash" property="txHash" />
        <result column="from_address" property="fromAddress" />
        <result column="to_address" property="toAddress" />
        <result column="tx_json" property="txJson" />
        <result column="eth_num" property="ethNum" />
        <result column="eth_unit" property="ethUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, insert_time, update_time, remove_tag, tx_hash, from_address, to_address, tx_json, eth_num, eth_unit
    </sql>

</mapper>
