<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libi.dao.TwitterContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libi.bean.TwitterContent">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="browser_serial" property="browserSerial" />
        <result column="address" property="address" />
        <result column="follow_blogger" property="followBlogger" />
        <result column="follow_mentions" property="followMentions" />
        <result column="tag_friend" property="tagFriend" />
        <result column="need_like" property="needLike" />
        <result column="reply" property="reply" />
        <result column="retweet" property="retweet" />
        <result column="quote_retweet" property="quoteRetweet" />
        <result column="tag_method" property="tagMethod" />
        <result column="content_from" property="contentFrom" />
        <result column="content_status" property="contentStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, browser_serial, address, follow_blogger, follow_mentions, tag_friend, need_like, reply, retweet, quote_retweet, tag_method, content_from, content_status
    </sql>

</mapper>
