<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libi.dao.TwitterPassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libi.bean.TwitterPass">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remove_tag" property="removeTag" />
        <result column="machine_code" property="machineCode" />
        <result column="wallet_id" property="walletId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, remove_tag, machine_code, wallet_id
    </sql>

</mapper>
